<!DOCTYPE html>
<html>
<head>
    <title>Yatzy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navigointipalkki -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Etusivu</a></li>
            <li><a href="{{ url_for('setup') }}">Uusi peli</a></li>
            <li><a href="{{ url_for('continue_game') }}">Jatka peliä</a></li>
        </ul>
    </nav>
    <h1>Yatzy</h1>
    <p>Current Player: {{ current_player['name'] }}</p>
    <form action="{{ url_for('roll') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% for i in range(5) %}
            <input type="checkbox" name="held_dice" value="{{ i }}" {% if held_dice[i] %}checked{% endif %}>
            <img src="{{ url_for('static', filename='dice' ~ dice[i] ~ '.png') }}" alt="Dice {{ dice[i] }}">
        {% endfor %}
        <button type="submit">Roll</button>
    </form>
    <p>Rolls: {{ rolls }}/3</p>

    <form action="{{ url_for('choose_category') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="category">Choose a category:</label>
        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}" {% if category in current_player['used_categories'] %}disabled{% endif %}>
                    {{ category }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
    <h2>Players</h2>
    <ul>
        {% for player in players %}
            <li>{{ player['name'] }}: {{ player['score'] }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('continue_later') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Continue later</button>
    </form>
    <form action="/end_game" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">End Game</button>
    </form>

</body>
</html>
